* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

main {
  max-width: 120rem;
  margin: 0 auto; }

html {
  font-family: "Rubik", sans-serif; }

.about {
  display: grid;
  align-content: start;
  justify-items: center;
  row-gap: 2rem;
  padding: 2rem 0rem 40rem 0rem;
  height: 90vh;
  color: #00204a;
  background-color: #00204a;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%); }
  .about__picture-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32rem;
    height: 32rem;
    border-radius: 50%;
    background-color: #fdb44b; }
  .about__picture {
    width: 30rem;
    height: 30rem;
    border-radius: 50%; }
  .about__content-box {
    display: grid;
    justify-items: center;
    row-gap: 1rem;
    color: #fff; }
  .about__title {
    font-size: 4rem;
    color: #fff;
    position: relative; }
  .about__title::after {
    content: "";
    width: 100%;
    height: 0.3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fdb44b; }
  .about__content-item {
    font-size: 2rem; }

.stack {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  row-gap: 4rem;
  color: #00204a;
  height: 90vh;
  background-color: #00204a;
  clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
  margin-top: -10rem; }
  .stack__title {
    font-size: 4rem;
    color: #fff;
    position: relative; }
  .stack__title::after {
    content: "";
    width: 100%;
    height: 0.3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fdb44b; }
  .stack__content-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    text-align: center;
    column-gap: 2rem;
    color: #fff; }
  .stack__item-box {
    display: grid;
    row-gap: 1rem; }
  .stack__content-item {
    font-size: 2rem; }

.stack__content-icon {
  font-size: 5rem; }

.skills {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  row-gap: 4rem;
  color: #00204a;
  height: 90vh;
  background-color: #00204a;
  clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
  margin-top: -10rem; }
  .skills__title {
    font-size: 4rem;
    color: #fff;
    position: relative; }
  .skills__title::after {
    content: "";
    width: 100%;
    height: 0.3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fdb44b; }
  .skills__content-box {
    display: grid;
    justify-items: center;
    text-align: center;
    column-gap: 2rem;
    color: #fff; }
  .skills__content-item {
    font-size: 2rem; }

.freetime {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  row-gap: 4rem;
  color: #00204a;
  height: 90vh;
  background-color: #00204a;
  clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
  margin-top: -10rem; }
  .freetime__title {
    font-size: 4rem;
    color: #fff;
    position: relative; }
  .freetime__title::after {
    content: "";
    width: 100%;
    height: 0.3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fdb44b; }
  .freetime__content-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    text-align: center;
    column-gap: 2rem;
    color: #fff; }
  .freetime__item-box {
    display: grid;
    row-gap: 1rem; }
  .freetime__content-item {
    font-size: 2rem; }

.freetime__content-icon {
  font-size: 5rem; }
