* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.html {
  scroll-behavior: smooth; }

body {
  font-size: 62.5%; }

main {
  max-width: 80rem;
  background-color: red;
  margin: 0 auto; }

html {
  font-family: "Rubik", sans-serif; }

.hero {
  color: #00204a;
  font-size: 1.6rem; }
