.freetime {
  @include sectionWrapper;

  &__title {
    @include sectionTitle;
  }

  &__title::after {
    @include sectinTitleAfter;
  }

  &__content-box {
    @include contentBox(5);

    @media only screen and (max-width: 45em) {
      @include contentBox(2);
    }
  }

  &__item-box {
    display: grid;
    row-gap: 1rem;

    @media only screen and (max-width: 45em) {
      &:last-child {
        grid-column: span 2;
      }
    }
  }

  &__content-item {
    font-size: 2rem;
  }
}

.freetime__content-icon {
  font-size: 5rem;
}
