.job {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  row-gap: 4rem;
  color: $color-first;
  min-height: 90vh;
  background-color: $color-first;
  clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
  margin-top: -10rem;

  &__title {
    @include sectionTitle;
  }

  &__title::after {
    @include sectinTitleAfter;
  }

  &__content-box {
    display: grid;
    justify-items: center;
    text-align: center;
    column-gap: 2rem;
    row-gap: 3rem;
    color: $color-light;
  }

  &__company-box {
    display: grid;
    row-gap: 1rem;
  }

  &__company-title-box {
  }

  &__company-title {
    font-size: 3rem;
  }

  &__company-time {
    font-size: 2rem;
  }

  &__company-position {
    font-size: 2.5rem;
  }

  &__company-position-content {
    display: grid;
    row-gap: 0.5rem;
  }

  &__company-position-skills {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 0.1rem;
  }

  &__company-position-list {
    list-style: none;
    display: grid;
    justify-items: center;
    row-gap: 0.5rem;
  }

  &__company-position-item {
    font-size: 1.6rem;
    position: relative;
  }

  &__company-position-item::after {
    content: "";
    position: absolute;
    left: -1rem;
    top: 0;
    width: 0.3rem;
    height: 100%;
    background-color: $color-fourth;
  }
}
