.stack {
  @include sectionWrapper;

  &__title {
    @include sectionTitle;
  }

  &__title::after {
    @include sectinTitleAfter;
  }

  &__content-box {
    @include contentBox(6);
  }

  &__item-box {
    display: grid;
    row-gap: 1rem;
  }

  &__content-item {
    font-size: 2rem;
  }
}

.stack__content-icon {
  font-size: 5rem;
}
